* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.todo-container {
  display: flex;
  padding: 5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
